.bundle
.DS_Store
.sass-cache/
db/*.sqlite3
log/*.log
*.psd
seenly-core

coverage.data
coverage
ERD.*

tmp/
public/data/
public/system/
public/assets/
vendor/bundle/

app/assets/images/icons-*.png
.idea/
