<h2>Welkom</h2>

<p>Kies de kring waarbij je je wil inschrijven.</p>

<table class="shield-picker"><tr>
<% @clubs.each_with_index do |club, i| %>
  <%= raw("</tr><tr>") if i > 0 && i % 4 == 0 %>
  <td><a href="<%= url_for registration_root_path(club) %>">
    <%= image_tag(club.shield_path(:small)) %>
    <%= club.full_name %>
  </a></td>
<% end %>
</tr></table>
