@import "common";

body.backend {
  .content {
    @include col(24); @include last;
  }

  .content-main {
    @include col(20); @include last;
    @include float-left;
    @include clearfix;
    position: relative;
  }

  .option-chooser {
    font-weight: 900;
    @include adjust-font-size-to(14px, 1);
    width: 400px;
    margin: 15px 0;
} }

