@import "common";

body.backend {
  .content {
    @include col(24); @include last;
  }

  .content-main {
    @include prepend(4);
    position: relative;
  }

  .option-chooser {
    font-weight: 900;
    @include adjust-font-size-to(14px, 1);
    width: 400px;
    margin: 15px 0;
  }

  h2 {
    @include prepend(4);
} }
