#citylife-shield-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  div {
    width: 150px;
  }

  .club.no-export, .club.generating {
    .export-link { // Disable links
      pointer-events: none;
      cursor: default;
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
  }

  .club.generating i {
    animation: spin 2s linear infinite;
  }
}

