@import "common";

.member-wrapper {
  @include clearfix;
}

.member-photo {
  @include float-right;
  width: 210px;
  padding: 10px;
  margin: 0 0 10px 10px;
  border: 1px dotted #E1E1E1;

  p {
    margin: 0;
    text-align: center;
    @include adjust-font-size-to(12px, 0.8);
  }
}

#filters {
  border: 2px solid #E1E1E1;
  padding: 15px 15px 5px 15px;
  margin-bottom: 20px;
  width: 500px;
  position: relative;

  .side-icons {
    position: absolute;
    right: 15px;
  }
}

.photo-preview {
  border: 2px solid #E1E1E1;
}

.backend.pay {
  dt, dd {
    @include adjust-font-size-to(18px, 2.2);
  }
  input {
    @include adjust-font-size-to(18px, 1);
  }

  span.field_with_errors {
    @include adjust-font-size-to(12px, 1.2);
  }
}
