/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

@import "common";

.formtastic .input {
  @include leader(0.5);
  @include trailer(0.5);
  padding: 0;
  overflow: inherit;

  p.inline-errors {
    margin-top: 0;
  }

  .label {
    font-weight: 900;
    color: $text-color;
    padding: 0;
    width: 30%;
  }

  p.inline-hints {
    margin-top: 0;
    @include adjust-font-size-to(12px, 0.75);
  }

  input, select { margin: 3px 0;}

  textarea { padding: 3px; }

  &.error label { color: $error-color; }
  &.required label abbr { color: $error-color; }

  .choices-group, .fragments-group {
    padding-left: 30%; width: 69%;

    .choice label input { margin-right: 8px; }
    .fragment {
      float: left;
      margin: 0 8px 0 0;
    }
  }

  &.check_boxes .label {
    width: 100%;
  }

  &.checkbox-grid li {
    width: 150px; float: left;
  }
}

form.formtastic fieldset {
  position: relative;

  &.actions {
    padding-left: 30%;

    .cancel {
      @include adjust-font-size-to(12px, 0.75);
      line-height: 26px;
      padding: 0 10px;
    }
  }

  &.no-indent, .no-indent, &.indent, .indent {
    padding-left: 0;
    @include clearfix;

    .inline-hints {
      margin-left: 21px;
    }

    &.check_boxes {
      legend {
        position: relative;
      }
      legend label {
        position: relative;
        width: auto; float: none;
      }

      ol {
        width: auto; padding: 0;
      }
    }

    label {
      padding-left: 0 !important;
      width: 100% !important;
    }
  }
  .indent {
    padding-left: 30%;
} }

/* Nested fieldsets */
form.formtastic .inputs {
  legend {
    font-weight: 900;
    @include trailer(0.25);
  }

  .inputs {
    li {
      @include leader(0.1);
      @include trailer(0);
    }

    label {
      font-weight: normal;
      width: 27%; padding-left: 3%;
    }
  }
}

/* Specific fields */
#member_home_postal_code, #member_studenthome_postal_code {
  width: 14%;
  float: left;
}
#member_home_city, #member_studenthome_city{
  width: 37%;
  float: left;
  margin-left: 3px;
}
