@import "common";

body.home {
  // Place scoped styles here
}

.shield-picker {
  @include clearfix;
  margin-top: 10px;

  td {
    @include col(2); @include last;
    border: 2px solid #fff;
    margin: 0 6px;

    a {
      display: block;
      padding: 10px 5px;
      font-weight: 900;
      text-align: center;
      @include adjust-font-size-to(15px, 1);
      @include unstyled-link;
    }

    &:hover { border: 2px solid #B1B1B1; }

    img {
      display: block;
      clear: both;
      margin: 0 auto 7px;
} } }