@import "common";

body.registration {
  .club-shield {
    @include col(4);
    @include leader(2.5);
    font-weight: 900;
    text-align: center;
  }

  .content-main {
    @include col(13); @include last;
  }
}

.method-chooser {
  margin-top: 20px;
  list-style: none;
  padding: 0;

  li {
    margin: 15px 0;
    border: 1px solid #AAA;

    a {
      display: block;
      color: #000;
      padding: 15px 20px 15px 42px;
      background: asset-url("selector-arrow.png", image) no-repeat #EEE;
      background-position: 14px center;

      &:hover {
        background-color: #F9F9F9;
        text-decoration: none;
} } } }

#seenly-modal {
  display: none;

  #seenly-embed-wrapper, input, p {
    margin: 0.5em auto;
    text-align: center;
  }
}

form.formtastic {
  .disclaimer {
    color:#666;
    font-size: 11px; line-height: 16px;
    width: 450px;
    margin-top: 0.75em;
  }

  #member_sex_input {
    li {
      float: left;
      padding-right: 20px;
} } }

.crop-wrapper {
  @include col(19); @include last;
  padding: 5px 15px; margin-bottom: 15px;
  border: 2px solid #E1E1E1;
  background: #fff;
  @include clearfix;

  h3 {
    @include leader(0.5, 15px);
    @include trailer(0.5, 15px);
    border: none;
  }

  .jcrop-holder {
    float: left;
  }

  span {
    float: right; width: 214px;
    margin: -23px 0 2px 0;
  }

  #crop-preview {
    float: right;
    width: 210px; height: 270px;
    overflow: hidden;
    border: 2px solid #333;
  }

  .inputs {
    clear: both;
  }
}

