<% title 'Overzicht' %>
<% @clubs.each do |club| %>
  <%# @hash[club].to_i is used since this could be nil and nil.to_i is 0 %>
  <p><%= club.name %>: <%= @count[club].to_i %> ingeschreven, <%= @paid[club].to_i %> kaarten afgeleverd </p>
<% end %>
