<h3>FK Sponsors</h3>
<p>
  <a href="http://www.jeka.be">
    <%= image_tag "sponsors/JEKA.jpg" %>
  </a>
</p>
<p>
  <a href="http://www.pmr.be/">
    <%= image_tag "sponsors/standaard.jpg" %>
  </a>
</p>
<p>
  <a href="http://www.aao-optiek.be/">
    <%= image_tag "sponsors/aao.jpg" %>
  </a>
</p>
<p>
  <a href="http://www.aao-optiek.be/">
    <%= image_tag "sponsors/logo-studenteninternet.png" %>
  </a>
</p>
