<h3>FK Sponsors</h3>
<p><a href="http://www.kbc.be/jongeren/">
  <%= image_tag("sponsors/kbc.png") %>
</a></p>
<p><a href="http://www.pmr.be/">
  <%= image_tag("sponsors/de-nobele.png") %>
</a></p>
<p><a href="http://www.aao-optiek.be/">
  <%= image_tag("sponsors/aao.jpg") %>
</a></p>
