<p>
  Een officiële lidkaart waarmee je lid wordt van je kring en het FaculteitenKonvent.

  Het FaculteitenKonvent (FK) is de koepel van de 28 opleidingsgebonden studentenkringen aan de Universiteit Gent.

  Deze kaart kan gebruikt worden om je te identificeren bij alle studentenactiviteiten geörgeniseerd door de kringen.
</p>
