<% title "Type lidkaart kiezen" %>
<%= render :partial => "layouts/club" %>

<div class="content-main">
  <ul class="option-chooser">
    <li>
      <%= link_to "Ik wil een ISIC-kaart.",
      registration_general_path(@club,
          member: { card_type_preference: 'isic' }) %>
    </li>
    <li>
      <%= link_to "Ik wil een FK-kaart.",
      registration_general_path(@club,
          member: { card_type_preference: 'fk' }) %>
    </li>
  </ul>
</div>
