<%= render :partial => "layouts/club" %>

<div class="content-main">
  <% title "Registratie voltooid" %>

  <%# TODO: tekstje updaten? %>
  <p>Je inschrijving is goed ontvangen. De volgende stap
    is je te begeven naar de boekenverkoop/permanentie van je kring en
    je lidgeld te betalen. Wanneer dit gebeurd is zal de inschrijving voltooid zijn.
  </p><p>
    Voor meer informatie over de datum van boekenverkopen/permanenties
    en de prijzen van het lidgeld verwijzen we graag naar de
    <%= link_to "website van je kring", @club.url %>.
  </p>
</div>
